@import '~@/styles/var.scss';

.admin-layout {
  height: 100%;
  width: 100%;
  .admin-sidebar {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    .admin-sidebar-logo {
      background-color: $content-background-color;
    }
  }

  .admin-header {
    background-color: #fff;
    position: relative;
    z-index: 1;
  }

  .admin-content {
    padding: 16px;
  }
}
