@import '~@/styles/var.scss';

.admin-layout {
  height: 100%;
  width: 100%;
  .admin-sidebar {
    .admin-sidebar-logo {
      background-color: $content-background-color;
    }
  }

  .admin-header {
    background-color: #fff;
  }

  .admin-content {
    padding: 16px;
  }
}
